<%- include("header") %> 
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate voluptas iusto natus non! Atque, voluptas nulla, alias iure mollitia velit totam, assumenda eaque illo deserunt nisi neque! Hic, ab?</p>

<%- include("footer") %> 